<html lang="en"><head>
  <meta charset="UTF-8">
  

    <link rel="apple-touch-icon" type="image/png" href="https://cpwebassets.codepen.io/assets/favicon/apple-touch-icon-5ae1a0698dcc2402e9712f7d01ed509a57814f994c660df9f7a952f3060705ee.png">

    <meta name="apple-mobile-web-app-title" content="CodePen">

    <link rel="shortcut icon" type="image/x-icon" href="https://cpwebassets.codepen.io/assets/favicon/favicon-aec34940fbc1a6e787974dcd360f2c6b63348d4b1f4e06c77743096d55480f33.ico">

    <link rel="mask-icon" type="image/x-icon" href="https://cpwebassets.codepen.io/assets/favicon/logo-pin-b4b4269c16397ad2f0f7a01bcdf513a1994f4c94b8af2f191c09eb0d601762b1.svg" color="#111">



  

  <title>What Sport Was Your Body Meant To Play?</title>

    <link rel="canonical" href="https://codepen.io/freeCodeCamp/pen/VPaoNP">
  
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  
<style>
@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');

:root {
  --color-white: #f3f3f3;
  --color-darkblue: #030303;
  --color-darkblue-alpha: rgba(0, 0, 0, 0.8);
  --color-green: #fbcd00;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  color: var(--color-white);
  margin: 0;
}

/* mobile friendly alternative to using background-attachment: fixed */
body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: var(--color-darkblue);
  background-image: linear-gradient(
      115deg,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.7)
    ), url(https://rare-gallery.com/mocahbig/471280-building-clouds-Germany-Olympics.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

h1 {
  font-weight: 400;
  line-height: 1.2;
}

p {
  font-size: 1.125rem;
}

h1,
p {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

label {
  display: flex;
  align-items: center;
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
}

input,
button,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  border: none;
}

.container {
  width: 100%;
  margin: 3.125rem auto 0 auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

.header {
  padding: 0 0.625rem;
  margin-bottom: 1.875rem;
}

.description {
  font-style: italic;
  font-weight: 200;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.clue {
  margin-left: 0.25rem;
  font-size: 0.9rem;
  color: #e4e4e4;
}

.text-center {
  text-align: center;
}

/* form */

form {
  background: var(--color-darkblue-alpha);
  padding: 2.5rem 0.625rem;
  border-radius: 0.25rem;
}

@media (min-width: 480px) {
  form {
    padding: 2.5rem;
  }
}

.form-group {
  margin: 0 auto 1.25rem auto;
  padding: 0.25rem;
}

.form-control {
  display: block;
  width: 100%;
  height: 2.375rem;
  padding: 0.375rem 0.75rem;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.input-radio,
.input-checkbox {
  display: inline-block;
  margin-right: 0.625rem;
  min-height: 1.25rem;
  min-width: 1.25rem;
}

.input-textarea {
  min-height: 120px;
  width: 100%;
  padding: 0.625rem;
  resize: vertical;
}

.submit-button {
  display: block;
  width: 100%;
  padding: 0.75rem;
  background: var(--color-green);
  color: inherit;
  border-radius: 2px;
  cursor: pointer;
}
</style>

  <script>
  window.console = window.console || function(t) {};
</script>

  
  
</head>

<body translate="no" data-new-gr-c-s-check-loaded="14.1188.0" data-gr-ext-installed="">
  <div class="container">
  <header class="header">
    <h1 id="title" class="text-center">What Sport Was Your Body Meant To Play?</h1>
    
  </header>
  <form action="{{ url_for('predict')}}" method="post" id="survey-form">
    <div class="form-group">
      <label id="name-label" for="name">Height</label>
      <input type="number" name="height" id="height" min="49" max="510"  class="form-control" placeholder="Please Enter Height (One Number. e.g 5'6 -- > 56)" required="">
    </div>
    <div class="form-group">
      <label id="email-label" for="email">Weight</label>
      <input type="number" name="weight" id="weight" min="62" max="249"  class="form-control" placeholder="Please Enter Weight (Lb)" required="">
    </div>
    <div class="form-group">
      <label id="number-label" for="number">Age</label>
      <input type="number" name="age" id="age" min="10" max="99" class="form-control" placeholder="Age">
    </div>
    <div class="form-group">
      <p>Sex Assigned at Birth</p>
      <select id="dropdown" name="sex" class="form-control" required="">
        <option disabled selected value>Please Select One</option>
        <option value=0>Male</option>
        <option value=1>Female</option>
        
        
        
      </select>
    </div>

    <div class="form-group">
      <p>Season</p>
      <label>
        <input name="season" value=0 type="radio" class="input-radio" checked="">Summer</label>
      <label>
        <input name="season" value=1 type="radio" class="input-radio">Winter</label>

      
    </div>

    <div class="form-group">
      <p>What Team Would You Like To Be In?</p>
      <select id="team" name="team" class="form-control" required="">
        <option disabled="" selected="" value="">Select an option</option>
        <option value=4>United States</option>
        <option value=0>Poland</option>
        <option value=1>Ukraine</option>
        <option value=2>Finland</option>
        <option value=3>East Germany</option>
        <option value=5>Germany</option>
        <option value=6>West Germany</option>
        <option value=7>North Korea</option>
        <option value=8>Japan</option>
        <option value=9>Russia</option>
        <option value=10>Netherlands</option>
        <option value=11>Norway</option>
        <option value=12>Canada</option>
        <option value=13>South Korea</option>
        <option value=14>Kazakhstan</option>
        <option value=15>Unified Team</option>
        <option value=16>Austria</option>
        <option value=17>Soviet Union</option>
        <option value=18>Hungary</option>
        <option value=19>Italy</option>
        <option value=20>China</option>
        <option value=21>Australia</option>
        <option value=22>Sweden</option>
        <option value=23>Yugoslavia</option>
        <option value=24>Romania</option>
        <option value=25>New Zealand</option>
        <option value=26>Czech Republic</option>
        <option value=27>France</option>
        <option value=28>Switzerland</option>
        <option value=29>Belarus</option>
        <option value=30>Belgium</option>
        <option value=31>Great Britain</option>
        <option value=32>Czechoslovakia</option>
        <option value=33>Denmark</option>
        <option value=34>Mongolia</option>
        <option value=35>Latvia</option>
        <option value=36>Portugal</option>
        <option value=37>Chinese Taipei</option>
        <option value=38>Croatia</option>
        <option value=39>Estonia</option>
        <option value=40>Iceland</option>
        <option value=41>Bulgaria</option>
        <option value=42>Greece</option>
        <option value=43>Spain</option>
        <option value=44>Turkey</option>
        <option value=45>Argentina</option>
        <option value=46>Serbia</option>
        <option value=47>Slovenia</option>
        <option value=48>Moldova</option>
        <option value=49>Lithuania</option>
        <option value=50>Slovakia</option>
        <option value=51>Serbia and Montenegro</option>
        <option value=52>Liechtenstein</option>
        <option value=53>Macedonia</option>
        <option value=54>Nepal</option>
        <option value=55>South Africa</option>
        <option value=56>Peru</option>
        <option value=57>Armenia</option>
        <option value=58>Andorra</option>
        <option value=59>Bosnia and Herzegovina</option>
        <option value=60>India</option>
        <option value=61>Cameroon</option>
        <option value=62>Ethiopia</option>
        <option value=63>Iran</option>
        <option value=64>Kenya</option>
        <option value=65>Algeria</option>
        <option value=66>Kyrgyzstan</option>
        <option value=67>Brazil</option>
        <option value=68>Bermuda</option>
        <option value=69>Fiji</option>
        <option value=70>Thailand</option>
        <option value=71>San Marino</option>
        <option value=72>Faneca</option>
        <option value=73>Mutafo</option>
        <option value=74>Ma'Lindo</option>
        <option value=75>Buraddoo</option>
        <option value=76>Hong Kong</option>
        <option value=77>Israel</option>
        <option value=78>Chile</option>
        <option value=79>Mexico</option>
        <option value=80>Pigoule</option>
        <option value=81>Seychelles</option>
        <option value=82>Sri Lanka</option>
        <option value=83>El Salvador</option>
        <option value=84>Olympion</option>
        <option value=85>Snude</option>
        <option value=86>Kuling</option>
        <option value=87>Ireland</option>
        <option value=88>SagaII</option>
        <option value=89>Sjovinge</option>
        <option value=90>Zimbabwe</option>
        <option value=91>Singapore</option>
        <option value=92>Skum</option>
        <option value=93>Struten</option>
        <option value=94>Symphony</option>
        <option value=95>Aletta</option>
        <option value=96>Malta</option>
        <option value=97>Tip</option>
        <option value=98>Combine</option>
        <option value=99>Uragan</option>
        <option value=100>Phoenix</option>
        <option value=101>Maid of Lebanon</option>
        <option value=102>Pasodoble</option>
        <option value=103>Olimpia</option>
        <option value=104>Twins VIII</option>
        <option value=105>Miss Nippon V</option>
        <option value=106>Puerto Rico</option>
        <option value=107>Ciocca III</option>
        <option value=108>Venezuela</option>
        <option value=109>Macky VI</option>
        <option value=110>Uruguay</option>
        <option value=111>Djibouti</option>
        <option value=112>Cyprus</option>
        <option value=113>Aretusa</option>
        <option value=114>Hayama</option>
        <option value=115>Galejan</option>
        <option value=116>Trinidad and Tobago</option>
        <option value=117>Xolotl</option>
        <option value=118>Ylliam VII</option>
        <option value=119>United States Virgin Islands</option>
        <option value=120>Cook Islands</option>
        <option value=121>Aphrodite</option>
        <option value=122>Ardilla</option>
        <option value=123>Bellatrix IX</option>
        <option value=124>Druzhba</option>
        <option value=125>Angola</option>
        <option value=126>Colombia</option>
        <option value=127>Indonesia</option>
        <option value=128>Snowten III</option>
        <option value=129>Gem</option>
        <option value=130>Tunisia</option>
        <option value=131>Myanmar</option>
        <option value=132>State VI</option>
        <option value=133>Tichiboo</option>
        <option value=134>Oleander XII</option>
        <option value=135>Monica</option>
        <option value=136>Argo II</option>
        <option value=137>Malaysia</option>
        <option value=138>Falcon IV</option>
        <option value=139>Gem III</option>
        <option value=140>Bajazzo</option>
        <option value=141>Shrew II</option>
        <option value=142>Falcon VI</option>
        <option value=143>Spirit VI</option>
        <option value=144>Inga-Lill XXXXIII</option>
        <option value=145>Pampero</option>
        <option value=146>Pakistan</option>
        <option value=147>Guanahani</option>
        <option value=148>Thalatta</option>
        <option value=149>Olen</option>
        <option value=150>Yeoman</option>
        <option value=151>Glisten</option>
        <option value=152>Danuta</option>
        <option value=153>Gem VII</option>
        <option value=154>Subbnboana</option>
        <option value=155>Individual Olympic Athletes</option>
        <option value=156>Bronia</option>
        <option value=157>Roy</option>
        <option value=158>Astrid III</option>
        <option value=159>Kathleen</option>
        <option value=160>Joy</option>
        <option value=161>Rush V</option>
        <option value=162>John B</option>
        <option value=163>Salamander</option>
        <option value=164>Beaver</option>
        <option value=165>Antigua and Barbuda</option>
        <option value=166>Merope III</option>
        <option value=167>Lucky Star</option>
        <option value=168>Bermudian</option>
        <option value=169>Barbados</option>
        <option value=170>Widgeon</option>
        <option value=171>Syndi</option>
        <option value=172>Proteus II</option>
        <option value=173>Bremen</option>
        <option value=174>Cayman Islands</option>
        <option value=175>Circus</option>
        <option value=176>Damoiselle IV</option>
        <option value=177>Montenegro</option>
        <option value=178>Guatemala</option>
        <option value=179>Trintel II</option>
        <option value=180>Grifo III</option>
        <option value=181>Persey</option>
        <option value=182>Taifun</option>
        <option value=183>Snap</option>
        <option value=184>Gem II</option>
        <option value=185>Ciocca</option>
        <option value=186>Qu'Importe</option>
        <option value=187>Minotaur</option>
        <option value=188>Nirefs</option>
        <option value=189>MitaII</option>
        <option value=190>Jamaica</option>
        <option value=191>Tengiri</option>
        <option value=192>Fantasio III</option>
        <option value=193>Naiad</option>
        <option value=194>Chaje II</option>
        <option value=195>Frip IV</option>
        <option value=196>Bermudes</option>
        <option value=197>Gabbiano</option>
        <option value=198>Firebird II</option>
        <option value=199>Georgia</option>
        <option value=200>Burevestnik</option>
        <option value=201>Nausikaa 4</option>
        <option value=202>Qatar</option>
        <option value=203>Bahamas</option>
        <option value=204>Sjhxa</option>
        <option value=205>Saint Lucia</option>
        <option value=206>Canopus</option>
        <option value=207>White Lady</option>
        <option value=208>Posillipo III</option>
        <option value=209>Guam</option>
        <option value=210>Danaldo</option>
        <option value=211>Philippines</option>
        <option value=212>Slaghoken II</option>
        <option value=213>Brigantia</option>
        <option value=214>Tlaloc</option>
        <option value=215>Grifo IV</option>
        <option value=216>Boreas</option>
        <option value=217>Pakaria</option>
        <option value=218>Yeoman VII</option>
        <option value=219>Viktoriya</option>
        <option value=220>Riccar</option>
        <option value=221>Daisy</option>
        <option value=222>Balaton</option>
        <option value=223>Akatonbo</option>
        <option value=224>Primorka</option>
        <option value=225>Lasha</option>
        <option value=226>Cambria</option>
        <option value=227>Yeoman XII</option>
        <option value=228>Tu-Fri</option>
        <option value=229>Egypt</option>
        <option value=230>Espardate</option>
        <option value=231>Tornado</option>
        <option value=232>Tramontane</option>
        <option value=233>Bahrain</option>
        <option value=234>Jest</option>
        <option value=235>Calcinhas</option>
        <option value=236>Aloha II</option>
        <option value=237>Aruba</option>
        <option value=238>Leipzig</option>
        <option value=239>Aldebaran II</option>
        <option value=240>Lucky</option>
        <option value=241>Wendehals</option>
        <option value=242>Vim III</option>
        <option value=243>Vesania</option>
        <option value=244>Acipactli</option>
        <option value=245>Rififi</option>
        <option value=246>Andromeda</option>
        <option value=247>Bluebottle</option>
        <option value=248>Rampage</option>
        <option value=249>Miss Nippon IV</option>
        <option value=250>Nokaut II</option>
        <option value=251>Diablo</option>
        <option value=252>Pousse-Moi Pas VII</option>
        <option value=253>May-Be 1960</option>
        <option value=254>Tajamar</option>
        <option value=255>Legionario</option>
        <option value=256>Miss Denmark 1964</option>
        <option value=257>British Virgin Islands</option>
        <option value=258>Surprise</option>
        <option value=259>Patricia</option>
        <option value=260>KNS</option>
        <option value=261>Barco Deloro</option>
        <option value=262>Evita VI</option>
        <option value=263>Rush IV</option>
        <option value=264>Mari</option>
        <option value=265>Bingo</option>
        <option value=266>Three Leaves</option>
        <option value=267>Meteor</option>
        <option value=268>Argeste</option>
        <option value=269>Barrenjoey</option>
        <option value=270>Serendipity</option>
        <option value=271>Chamukina</option>
        <option value=272>June Climene</option>
        <option value=273>Chok</option>
        <option value=274>Almaz</option>
        <option value=275>United Arab Emirates</option>
        <option value=276>Lady C</option>
        <option value=277>Scram</option>
        <option value=278>Bim</option>
        <option value=279>Monaco</option>
        <option value=280>Kingfisher</option>
        <option value=281>Lett</option>
        <option value=282>Espuma del Mar</option>
        <option value=283>Tulilind</option>
        <option value=284>Zefyros</option>
        <option value=285>Kurush IV</option>
        <option value=286>Fram III</option>
        <option value=287>Red Indian</option>
        <option value=288>Web II</option>
        <option value=289>Bellatrix XIII</option>
        <option value=290>Merope</option>
        <option value=291>Cuba</option>
        <option value=292>Humbug V</option>
        <option value=293>Ylliam II</option>
        <option value=294>Nephos I</option>
        <option value=295>Angelita</option>
        <option value=296>Peri</option>
        <option value=297>Bella</option>
        <option value=298>Baccara</option>
        <option value=299>Peri II</option>
        <option value=300>Rush VII</option>
        <option value=301>Umberta V</option>
        <option value=302>Pandora</option>
        <option value=303>Kannibaltje</option>
        <option value=304>Netherlands Antilles</option>
        <option value=305>Partenope</option>
        <option value=306>Cha-Cha III</option>
        <option value=307>Ciocca II</option>
        <option value=308>Web III</option>
        <option value=309>Dinah V</option>
        <option value=310>Tantalus</option>
        <option value=311>Ali-Baba VI</option>
        <option value=312>Kalayaan</option>
        <option value=313>Tango</option>
        <option value=314>Maryke</option>
        <option value=315>Gem IV</option>
        <option value=316>Alain IV</option>
        <option value=317>Squid III</option>
        <option value=318>Ali-Baba II</option>
        <option value=319>Mizar</option>
        <option value=320>Tineke</option>
        <option value=321>Tim-Tam III</option>
        <option value=322>Spirit III</option>
        <option value=323>Ali-Baba IV</option>
        <option value=324>Morocco</option>
        <option value=325>Aldebaran</option>
        <option value=326>Voloira II</option>
        <option value=327>Paraguay</option>
        <option value=328>Djinn</option>
        <option value=329>Romolo</option>
        <option value=330>Sheerio</option>
        <option value=331>Sirene</option>
        <option value=332>Grifone</option>
        <option value=333>Paula</option>
        <option value=334>Whirlaway</option>
        <option value=335>Viking</option>
        <option value=336>Harmony</option>
        <option value=337>Ylliam VIII</option>
        <option value=338>Mad Dog</option>
        <option value=339>Ballerina IV</option>
        <option value=340>Venilia</option>
        <option value=341>Calypse II</option>
        <option value=342>Moorina</option>
        <option value=343>Galatea II</option>
        <option value=344>Glider</option>
        <option value=345>Luxembourg</option>
        <option value=346>Elisabeth X</option>
        <option value=347>Ali-Baba IX</option>
        <option value=348>Hakahana</option>
        <option value=349>rn-2</option>
        <option value=350>Costa Rica</option>
        <option value=351>Ecuador</option>
        <option value=352>Uzbekistan</option>
        <option value=353>Yemen</option>
        <option value=354>Azerbaijan</option>
        <option value=355>Namibia</option>
        <option value=356>Vietnam</option>
        <option value=357>Tajikistan</option>
        <option value=358>Senegal</option>
        <option value=359>Bolivia</option>
        <option value=360>Albania</option>
        <option value=361>Lebanon</option>
        <option value=362>Timor Leste</option>
        <option value=363>Ghana</option>
        <option value=364>Mauritania</option>
        <option value=365>Guinea Bissau</option>
        <option value=366>Nigeria</option>
        <option value=367>Cote d'Ivoire</option>
        <option value=368>Afghanistan</option>
        <option value=369>Jordan</option>
        <option value=370>Syria</option>
        <option value=371>Dominican Republic</option>
        <option value=372>Federated States of Micronesia</option>
        <option value=373>Panama</option>
        <option value=374>Iraq</option>
        <option value=375>Honduras</option>
        <option value=376>Samoa</option>
        <option value=377>Cambodia</option>
        <option value=378>Madagascar</option>
        <option value=379>North Yemen</option>
        <option value=380>Palau</option>
        <option value=381>Zambia</option>
        <option value=382>Haiti</option>
        <option value=383>Turkmenistan</option>
        <option value=384>Toronto Argonauts</option>
        <option value=385>Studenternes Roklub-2</option>
        <option value=386>Kuwait</option>
        <option value=387>Royal Club Nautique de Gand</option>
        <option value=388>Argonaut Rowing Club</option>
        <option value=389>Sydney Rowing Club</option>
        <option value=390>Libya</option>
        <option value=391>Saint Kitts and Nevis</option>
        <option value=392>Vanuatu</option>
        <option value=393>Gambia</option>
        <option value=394>Tanzania</option>
        <option value=395>Sierra Leone</option>
        <option value=396>Nicaragua</option>
        <option value=397>Liberia</option>
        <option value=398>Grenada</option>
        <option value=399>Kiribati</option>
        <option value=400>Papua New Guinea</option>
        <option value=401>Lesotho</option>
        <option value=402>Guyana</option>
        <option value=403>Eritrea</option>
        <option value=404>Tonga</option>
        <option value=405>Saudi Arabia</option>
        <option value=406>Chad</option>
        <option value=407>Botswana</option>
        <option value=408>Guinea</option>
        <option value=409>Saint Vincent and the Grenadines</option>
        <option value=410>Mauritius</option>
        <option value=411>Comoros</option>
        <option value=412>Burundi</option>
        <option value=413>Malawi</option>
        <option value=414>Somalia</option>
        <option value=415>Mozambique</option>
        <option value=416>Congo (Brazzaville)</option>
        <option value=417>Suriname</option>
        <option value=418>Australasia</option>
        <option value=419>Bangladesh</option>
        <option value=420>Uganda</option>
        <option value=421>Benin</option>
        <option value=422>Swaziland</option>
        <option value=423>West Indies Federation</option>
        <option value=424>Maldives</option>
        <option value=425>Sudan</option>
        <option value=426>Togo</option>
        <option value=427>Sao Tome and Principe</option>
        <option value=428>Oman</option>
        <option value=429>Mali</option>
        <option value=430>Refugee Olympic Athletes</option>
        <option value=431>Central African Republic</option>
        <option value=432>Laos</option>
        <option value=433>Burkina Faso</option>
        <option value=434>Rhodesia</option>
        <option value=435>Congo (Kinshasa)</option>
        <option value=436>Rwanda</option>
        <option value=437>Newfoundland</option>
        <option value=438>Dominica</option>
        <option value=439>Marshall Islands</option>
        <option value=440>Kosovo</option>
        <option value=441>Palestine</option>
        <option value=442>Malaya</option>
        <option value=443>South Vietnam</option>
        <option value=444>New York Athletic Club #1-1</option>
        <option value=445>Gabon</option>
        <option value=446>Brunei</option>
        <option value=447>Belize</option>
        <option value=448>Bhutan</option>
        <option value=449>Cape Verde</option>
        <option value=450>South Yemen</option>
        <option value=451>United Arab Republic</option>
        <option value=452>Solomon Islands</option>\
      </select>
    </div>

    <div class="form-group">
      <button type="submit" id="submit" class="submit-button">
        What's My Sport?
      </button>
    </div>
  </form>
</div>

  



</body></html>